* {
  border: 1px solid red;
}

body {
  font-family: Arial;
  background-color: #f7f7f7;
}

div {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  padding: 20px;
}

img {
  max-width: 100%;
}

.title {
  margin-top: 20px;
  justify-self: center;
  grid-column: 1 / 3;
}

.grid {
  grid-column: 1 / 3;
}

.info {
  display: flex;
  flex: auto;
  justify-content: center;
}

.topico {
  background-color: #fff;
  grid-row: 2 / 8;
}
